<h1>Users</h1>

<table>
  <tr>
    <th colspan="2">Google</th>
    <th>Form input</th>
    <th>Dynamic</th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Favourite colours</th>
    <th>Road defects</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.favourite_colour %></td>
    <td><%= user.road_defects.count %></td>
  </tr>
<% end %>
</table>
    

